@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:marcus.moreno@mailiantor.com">marcus.moreno@mailiantor.com</a><br />
    <strong>Vendas:</strong> <a href="mailto:marcus.moreno@mailiantor.com">marcus.moreno@mailiantor.com</a>
</address>