@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>S.A.S</h1>
    <p class="lead">Sistema de Avaliação de serviços</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contato</h2>
        <p>
            Gostaria de mais informações? ENtre em contato!.
        </p>
        <p><a class="btn btn-default" href="~/Home/Contact">Contato</a></p>
     
    </div>
    <div class="col-md-4">
        <h2>Quem usa:</h2>
        <p>Nossos clientes:</p>
        <p> <img src="~/Imgs/Hood1.jpg" alt="Client1" href="http://www.hood13.com/"  style=" width:100px;height:70px;"></p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>